<!DOCTYPE html>
        <html>
<head>
<title>My small twitter</title>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
</head>
<body>
<div class="ui fixed inverted menu">
    <a href="/" class="header item">Accueil</a>
</div>

</body>
</html>