<!DOCTYPE html>
<html>
	<head>
		<title>Page d'accueil</title>
	</head>
	<body>
		<form method="POST" action="">
			Username : <input type="text" name="username" id="username">
			Password : <input type="password" name="password" id="password">
			<input type="submit" value="Envoyer">
		</form>
	</body>
</html>
